* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --color-primary: #143c3c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* commit */
.container {
    margin: 0 auto;
    width: 1140px;
    max-width: calc(100% - 34px);
}

.section__heading {
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section__desc {
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    margin-top: 20px;
}

.btn {
    --height: 26px;
    --width: 107px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    background: var(--color-primary);
    line-height: var(--height);
    height: var(--height);
    width: var(--width);
    color: #fff;
    transition: 0.25s;
    padding: 0 10px;
}

.btn:hover {
    opacity: 0.9;
}

.line {
    display: inline-block;
    content: "";
    background: #152427;
    width: 66px;
    height: 2px;
    transform: translateX(6px) translateY(-10px);
}

.group-name {
    display: flex;
    align-items: flex-start;
    column-gap: 21px;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0.8;
}

.group-name::before {
    position: relative;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}

/* Header */
.header {
    padding-top: 28px;
    font-family: Public Sans, sans-serif;
}

.navbar__link,
.hero__desc {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header-top::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
    bottom: 0;
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 0 19px;
}

.navbar__link.navbar__link--active {
    position: relative;
    color: #152427;
}

.navbar__link.navbar__link--active::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
    bottom: -31px;
}

.header__btn {
    font-size: 1.6rem;
    --width: 173px;
    --height: 57px;
}

/* Hero */

.hero {
    padding: 60px 25px 164px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__heading {
    font-family: Public Sans, sans-serif;
    max-width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__content {
    max-width: 34.4%;
}

.hero__media {
    /* max-width: 56.6%; */
    position: relative;
}

.hero-action {
    display: flex;
    align-items: center;
    column-gap: 36px;
    margin-top: 42px;
}

.hero-action__btn {
    width: 173px;
    height: 57px;
    line-height: 57px;
    flex-shrink: 0;
}

.hero-action__img {
}

.hero-action__play-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    background: #83a17d;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.hero-action__wrap {
    position: relative;
}

.hero-action__circle {
    position: absolute;
    padding: 25px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c #143c3c transparent transparent;
    rotate: -135deg;
    top: -7px;
    left: -7px;
}

.hero__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: flex-end;
}

.hero__media-bg {
    position: absolute;
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
    right: 150px;
    top: 122px;
}

.hero__img {
    display: block;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-bottom: -77px;
}

.hero__flower {
    position: absolute;
    display: flex;
    align-items: flex-start;
    right: 237px;
    top: -25px;
}

.hero__flower:last-of-type {
    rotate: 180deg;
    right: 9px;
    bottom: -130px;
}

.hero__flower-line {
    transform: translateX(-32px) translateY(-7px);
}

/* Logo */

.logo {
    margin-top: 42px;
    margin-bottom: 53px;
}

.logo__inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 201px;
    background: #e2eddf;
    border-radius: 100.5px;
    padding: 0 40px;
}

.logo__wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo__google {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 500;
    line-height: normal;
}

.logo__slack-name {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo__slack-img {
    margin-right: 3px;
}

.logo__agworld-name {
    color: #163c35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

.logo__agworld-img {
    margin-right: 11px;
}

.logo__riotinto-name {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Sonsie One;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: normal;
}

.logo__heroku-name {
    color: var(--primary-color-black-green, #143c3c);
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}

.logo__heroku-img {
    margin-right: 10px;
}

/* Services */

.services {
    padding-top: 53px;
    margin-bottom: 78.5px;
}

.services__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__heading {
    max-width: 520px;
}

.services__action {
    display: flex;
    column-gap: 17px;
    margin-right: 73px;
}

.services__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #e2eddf;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: 0.25s;
}

.services__img {
    color: #152427;
    transition: 0.25s;
}

.services__btn:hover .services__img {
    color: #fff;
}

.services__btn:hover {
    background: #143c3c;
}

.services__list-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    padding-top: 76px;
}

.services__card {
    border-radius: 20px;
    transition: 0.25s;
    background: #fff;
}

.services__card:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__card:hover .card__content {
    padding-left: 18px;
    padding-right: 18px;
}

.services__card:hover .card__img {
    transform: scale(1.1);
}

.card__img-bg {
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.card__content {
    padding-top: 24px;
    padding-bottom: 23px;
    transition: 0.25s;
}

.card__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
}

.card__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    max-width: 268px;
    padding-top: 18px;
}

/* About */
.about {
    font-family: Poppins;
    padding-top: 78.5px;
}

.about__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about__column-left {
    position: relative;
}

.about__media {
    width: 591px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    column-gap: 21px;
}

.about__img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    font-family: Poppins;
    color: #7d8188;
    margin-top: 11px;
    font-size: 1.6rem;
    line-height: 1.62;
    margin-bottom: 36px;
}

.about__img:first-child {
    margin-bottom: -77px;
}

.about__content {
    width: 42.5%;
}

.about__qty {
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 20px;
}

.about__qty::after {
    display: inline-block;
    position: absolute;
    content: "";
    background: #83a17d;
    width: 485px;
    height: 1px;
    bottom: 0;
}

.about__qty:last-of-type {
    margin-top: 38px;
}

.about__qty-parameter {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__qty-desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-left: 24px;
}

.about__flower {
    position: absolute;
    display: flex;
    align-items: flex-start;
}

.about__flower-img:first-child {
    position: absolute;
    left: 46px;
    top: -20px;
}

.about__flower-img:last-of-type {
    position: absolute;
    left: 83px;
    top: 22px;
}

.about__sticky {
    position: absolute;
    min-width: 143px;
    background: #fff;
    bottom: 0;
    right: 0;
}

.sticky__heading {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */
}

.sticky__title {
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
}

.sticky__text {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
}

.sticky__text:last-child {
    margin-left: auto;
}

.sticky__chart {
}

.sticky__percent {
}

.about__sticky-inner {
    padding: 19px 23px;
    display: flex;
    flex-direction: column;
}
